* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    font-family: sans-serif;
}

.container {
    width: 70%;
    margin: 3rem auto;
    text-align: center;
}

h1 {
    margin-bottom: 3rem;
}

.form {
    margin-bottom: 2rem;
}